@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

:root{
   --peru: #d5b18a;
   --black: #1a1a1a;
   --white:#fff;
   --light-black:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --dark-bg: rgba(0, 0, 0, 0.7);
   --border:.1rem solid #aaa;
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}


*{
   font-family: 'Dosis', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all 0.4s cubic-bezier(.43,1.1,.62,1.08);
   text-transform: none;
}

* > img{
   user-select: none;
   pointer-events: none;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background-color: var(--white);
}

.body{
   text-transform: capitalize;
}

html::-webkit-scrollbar-thumb{
   background-color: var(--peru);
}

section{
   padding:5rem 10%;
}

.heading{
   text-align: center;
   margin-bottom: 3rem;
}

.heading span{
   font-size: 2.5rem;
   color:var(--peru);
}

.heading h3{
   font-size: 4.5rem;
   color:var(--black);
}

.btn{
   margin-top: 1rem;
   display: inline-block;
   background: var(--peru);
   color:var(--white);
   font-size: 2rem;
   cursor: pointer;
   padding:1rem 3rem;
}
.btn:hover{
   letter-spacing: .2rem;
}

.header{
   padding-top: 2rem;
   padding-bottom: 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-shadow: var(--box-shadow);
   position: sticky;
   top:0; left:0; right: 0;
   background: var(--white);
   z-index: 1000;
}

.header .logo{
   font-size: 2.5rem;
   font-weight: bolder;
   color:var(--black);
}

.header .logo i{
   color:var(--peru);
   padding-right: .5rem;
}

.header .logo img{
   /*color:var(--peru);*/
   padding-right: .5rem;
   height: 5rem;
   width: 20rem;
}

.header .navbar a{
   font-size: 2rem;
   margin-left: 2rem;
   color:var(--light-black);
}

.header .navbar a:hover{
   color:var(--peru);
}

#menu-btn{
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--black);
   display: none;
}

@keyframes fadeIn {
   0%{
      transform: translateY(-4rem) scale(0);
      opacity: 0;
   }
}

.home{
   padding:0;
   background: var(--black);
}

.home .slide{
   min-height: 100vh;
   background-size: cover !important;
   background-position: center !important;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index:0;
}

.home .slide::before{
   content: '';
   position: absolute;
   top:0; left:0;
   height: 100%;
   width: 100%;
   /*z-index: -1;*/
}

.home .slide .content{
   text-align: center;
   width: 70rem;
   display: none;
   z-index:10;
}

.home .slide .content span{
   font-size: 3rem;
   display: block;
   padding-bottom: .5rem;
   color:var(--light-white);
   animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .2s backwards;
}

.home .slide .content h3{
   font-size: 8vw;
   color:var(--white);
   text-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
   line-height: 1;
   padding:2rem 0;
   z-index:-1;
   animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .4s backwards;
}

/*.home .slide .content .btn{*/
/*   animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .6s backwards;*/
/*}*/

.home .swiper-slide-active .content{
   display: inline-block;
}

.swiper-button-next,
.swiper-button-prev{
   height: 5rem;
   width: 5rem;
   line-height: 5rem;
   background: var(--white);
   color:var(--black);
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
   background: var(--peru);
   color:var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after{
   font-size: 2rem;
}

.about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:2rem;
   background-color: #e1d1c6;
}

.about .image{
   flex:1 1 41rem;
}

.about .image img{
   width: 100%;
}

.about .content{
   flex:1 1 41rem;
}

.about .content .title{
   font-size: 4rem;
   color:var(--black);
}

.about .content p{
   font-size: 1.7rem;
   color:var(--light-black);
   padding:1rem 0;
   line-height: 2;
}

.about .content .icons-container{
   display: flex;
   flex-wrap: wrap;
   gap:2rem;
   margin-top: 3rem;
}

.about .content .icons-container .icons{
   flex:1 1 16rem;
   text-align: center;
   background: var(--light-bg);
   padding:3rem 2rem;
}

.about .content .icons-container .icons img{
   height: 5rem;
}

.about .content .icons-container .icons h3{
   padding-top: 1rem;
   font-size: 2rem;
   color:var(--light-black);
   font-weight: normal;
}

.food{
   background: var(--light-bg);
}

.food .slide{
   text-align: center;
   padding:4rem 2rem;
   border-radius: .5rem;
   transform: scale(.9);
   opacity: .5;
   margin-bottom: 4rem;
   cursor: pointer;
}

.swiper-pagination-bullet-active{
   background: var(--peru);
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
   bottom:0;
}

.food .swiper-slide-active{
   transform: scale(1);
   opacity: 1;
   background: var(--white);
   box-shadow: var(--box-shadow);
   border:var(--border);
}

.food .slide img{
   height: 25rem;
   margin-bottom: 1rem;
}

.food .slide h3{
   font-size: 2.5rem;
   padding:1rem 0;
   color:var(--black);
}

.food .slide .price{
   font-size: 2.5rem;
   color:var(--peru);
}

.food-preview-container{
   background: var(--dark-bg);
   position: fixed;
   top:0; left:0;
   height: 100%;
   width: 100%;
   z-index: 1100;
   display: none;
   align-items: center;
   justify-content: center;
}

.food-preview-container .food-preview{
   text-align: center;
   background: var(--white);
   padding:3rem 2rem;
   border-radius: .5rem;
   display: none;
   width: 35rem;
}

.food-preview-container .food-preview.active{
   display: inline-block;
   animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) backwards;
}

.food-preview-container .food-preview img{
   height: 25rem;
   margin-bottom: 1rem;
}

.food-preview-container .food-preview h3{
   padding:1rem 0;
   font-size: 2.5rem;
   color:var(--black);
}

.food-preview-container .food-preview .stars{
   margin-top: .5rem;
}

.food-preview-container .food-preview .stars i{
   font-size: 1.7rem;
   color:var(--peru);
}

.food-preview-container .food-preview p{
   font-size: 1.6rem;
   color:var(--light-black);
   padding:1rem 0;
   line-height: 2;
}

.food-preview-container .food-preview .price{
   font-size: 2.5rem;
   color:var(--black);
   margin-bottom: .5rem;
}

#close-preview{
   position: absolute;
   top:1.5rem; right:2.5rem;
   font-size: 6rem;
   cursor: pointer;
   color:var(--white);
}

#close-preview:hover{
   transform: rotate(90deg);
}

.gallery .gallery-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.gallery .gallery-container .box{
   height: 40rem;
   position: relative;
   overflow: hidden;
}

.gallery .gallery-container .box img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.row g-0 .img-fluid{
   height: 100%;
}

.heading-cat h3{
   text-align: left;
   margin-bottom: 3rem;
   margin-top: 2rem;
   font-size: 4.5rem;
   color:var(--black);
}

.meals .meal-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:3rem;
   text-align: center;
}

.meals .meal-container .meal{
   height: 48rem;
   width: 30rem;
   position: relative;
   overflow: hidden;
}

.meals .meal-container .meal img{
   height: 29rem;
   width: 30rem;
   text-align: center;
}

.meals .meal h3{
   font-size: 2.5rem;
   color:var(--black);
}


.meals .meal .price{
   font-size: 2.5rem;
   color:var(--peru);
   padding:0.5rem 0;
}

.meals .meal .desc{
   font-size: 1.5rem;
   /*height: 15rem;*/
}

.meal{
   position: relative;
}

.add{
   position: absolute;
   bottom: 0.1rem;
   left: 5.5rem;
}

.meals .meal button {
   display: inline-block;
   background: var(--peru);
   color: var(--white);
   font-size: 1.5rem;
   cursor: pointer;
   padding: 1rem 3rem;
   border-radius: 6px;
}

.meals .meal button:hover{
   letter-spacing: .2rem;
}



/*.food{*/
/*   background: var(--light-bg);*/
/*}*/

/*.food .slide{*/
/*   text-align: center;*/
/*   padding:4rem 2rem;*/
/*   border-radius: .5rem;*/
/*   transform: scale(.9);*/
/*   opacity: .5;*/
/*   margin-bottom: 4rem;*/
/*   cursor: pointer;*/
/*}*/

/*.food .slide img{*/
/*   height: 25rem;*/
/*   margin-bottom: 1rem;*/
/*}*/

/*.food .slide h3{*/
/*   font-size: 2.5rem;*/
/*   padding:1rem 0;*/
/*   color:var(--black);*/
/*}*/

/*.food .slide .price{*/
/*   font-size: 2.5rem;*/
/*   color:var(--peru);*/
/*}*/

.gallery .gallery-container .box .icon{
   display: none;
   align-items: center;
   justify-content: center;
   position: absolute;
   top:0; left:0;
   z-index: 10;
   height: 100%;
   width: 100%;
   background: var(--white);
}

.gallery .gallery-container .box .icon i{
   font-size: 6rem;
   color:var(--white);
}

.gallery .gallery-container .box:hover .icon{
   display: flex;
}

.menu{
   background: var(--light-bg);
}

.menu .slide .title{
   padding:1rem;
   font-size: 3rem;
   color:var(--white);
   background: var(--peru);
   margin-bottom: 3rem;
   text-align: center;
}

.menu .slide .box-container{
   display: flex;
   flex-wrap: wrap;
   gap:2rem;
   padding-bottom: 4rem;
}

.menu .slide .box-container .box{
   flex:1 1 41rem;
   background: var(--white);
   padding:2rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   display: flex;
   align-items: center;
   gap:1rem;
   justify-content: space-between;
}

.menu .slide .box-container .box h3{
   font-size: 2.5rem;
   color:var(--black);
   padding-bottom: .5rem;
}

.menu .slide .box-container .box p{
   font-size: 1.6rem;
   color:var(--light-black);
   line-height: 2;
}

.menu .slide .box-container .box .price{
   font-size: 2.5rem;
   color:var(--peru);
}

.menu .slide .box-container .box:hover{
   transform: scale(.9);
   cursor: pointer;
}

.bag{
   background: var(--light-bg);
}

.bag .all .title{
   padding:1rem;
   font-size: 3rem;
   color:var(--white);
   background: var(--peru);
   margin-bottom: 3rem;
   text-align: center;
}

.bag .all .bag-cont{
   display: flex;
   flex-wrap: wrap;
   gap:2rem;
   padding-bottom: 2rem;
}

.bag .all .bag-cont .one{
   flex:1 5 82rem;
   background: var(--white);
   padding:2rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   display: flex;
   align-items: center;
   gap:1rem;
   justify-content: space-between;
   /*margin-bottom: 0rem;*/

}

.bag .all .bag-cont .one .info{
   width: 65%;
}

.bag .all .bag-cont .one h3{
   font-size: 2.5rem;
   color:var(--bs-black);
   padding-bottom: .5rem;
}

.bag .all .bag-cont .one .change p, form{
   display:inline-block
}


.bag .all .bag-cont .one p{
   font-size: 1.6rem;
   color:var(--light-black);
   line-height: 2;
}

.bag .all .bag-cont .one .price{
   font-size: 2.5rem;
   color:var(--peru);
}

.store-1{
   background: #ffedda;
}

.store-1 .all .title{
   padding:1rem;
   font-size: 3rem;
   color:var(--white);
   background: var(--peru);
   margin-bottom: 3rem;
   text-align: center;
}

.store-1 .all .bag-cont{
   display: flex;
   flex-wrap: wrap;
   gap:2rem;
   padding-bottom: 2rem;
}

.store-1 .all .bag-cont .one{
   flex:1 5 82rem;
   background: var(--white);
   padding:2rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   display: flex;
   align-items: center;
   gap:1rem;
   justify-content: space-between;
   /*margin-bottom: 0rem;*/

}

.store-1 .all .bag-cont .one .info{
   width: 65%;
}

.store-1 .all .bag-cont .one h3{
   font-size: 2.5rem;
   color:var(--bs-black);
   padding-bottom: .5rem;
}

.store-1 .all .bag-cont .one p{
   font-size: 2rem;
   color:var(--black);
   line-height: 2;
}

.store-1 .all .bag-cont .one .price{
   font-size: 2.5rem;
   color:var(--peru);
}











.switch-bonus input[type=checkbox]{
   height: 0;
   width: 0;
   visibility: hidden;
}

.bag .all .bag-cont .one form .switch-bonus label {
   cursor: pointer;
   text-indent: -9999px;
   width: 100px;
   height: 50px;
   background: grey;
   display: block;
   border-radius: 50px;
   position: relative;
}

.bag .all .bag-cont .one form .switch-bonus label:after {
   content: '';
   position: absolute;
   top: 3px;
   left: 3px;
   width: 45px;
   height: 45px;
   background: #fff;
   border-radius: 45px;
   transition: 0.3s;
}

.bag .all .bag-cont .one form .switch-bonus input:checked + label {
   background: #e17b72;
}

.bag .all .bag-cont .one form .switch-bonus input:checked + label:after {
   left: calc(100% - 5px);
   transform: translateX(-100%);
}

.bag .all .bag-cont .one form .switch-bonus label:active:after {
   width: 65px;
}

/*.bag .all .bag-cont .one input[type=checkbox]{*/
/*   height: 0;*/
/*   width: 0;*/
/*   visibility: hidden;*/
/*}*/

/*.bag .all .bag-cont .one label {*/
/*   cursor: pointer;*/
/*   text-indent: -9999px;*/
/*   width: 100px;*/
/*   height: 50px;*/
/*   background: grey;*/
/*   display: block;*/
/*   border-radius: 50px;*/
/*   position: relative;*/
/*}*/

/*.bag .all .bag-cont .one label:after {*/
/*   content: '';*/
/*   position: absolute;*/
/*   top: 3px;*/
/*   left: 3px;*/
/*   width: 45px;*/
/*   height: 45px;*/
/*   background: #fff;*/
/*   border-radius: 45px;*/
/*   transition: 0.3s;*/
/*}*/

/*.bag .all .bag-cont .one input:checked + label {*/
/*   background: #bada55;*/
/*}*/

/*.bag .all .bag-cont .one input:checked + label:after {*/
/*   left: calc(100% - 5px);*/
/*   transform: translateX(-100%);*/
/*}*/

/*.bag .all .bag-cont .one label:active:after {*/
/*   width: 65px;*/
/*}*/

.order{
   background: var(--peru);
}

.order .heading span{
   color:var(--white);
}

.order .heading h3{
   color:var(--white);
}

.order form{
   padding:2rem;
   background: var(--white);
   box-shadow: var(--box-shadow);
   margin-left: 20rem;
}

.order form .box-container{
   display: flex;
   flex-wrap: wrap;
   gap:2rem;

}

.order form .box-container .box{
   flex:1 1 70rem;
}

.order form .box-container .box .inputBox h3{
   font-size: 3.2rem;
   color:var(--bs-black);
   padding-bottom: .5rem;
}

.order form .box-container .box .inputBox p, li{
   font-size: 1.8rem;
   color:var(--light-black);
   line-height: 2;
}

.order form .box-container .box .inputBox .price{
   font-size: 2.5rem;
   color:var(--peru);
}


.order form .box-container .totalorder{
   flex:0 0 30rem;
   background: var(--white);
   padding:2rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   display: flex;
   align-items: center;
   gap:1rem;
   justify-content: space-between;
}


.order form .box-container .box .inputBox input,
.order form .box-container .box .inputBox textarea{
   width: 100%;
   margin:1rem 0;
   padding:1.2rem 1.4rem;
   font-size: 1.7rem;
   color:var(--light-black);
   border:var(--border);
   text-transform: none;
}

.order form .box-container .box .inputBox input::placeholder,
.order form .box-container .box .inputBox p,
.order form .box-container .box .inputBox textarea::placeholder{
   text-transform: capitalize;
}

.order form .box-container .box .inputBox input:focus,
.order form .box-container .box .inputBox textarea:focus{
   background: var(--black);
   color:var(--white);
}

.order form .box-container .box .inputBox input:focus::placeholder,
.order form .box-container .box .inputBox textarea:focus::placeholder{
   color:var(--light-white);
}

.order form .box-container .box .inputBox textarea{
   height: 20rem;
   resize: none;
}

.order form .box-container .box .inputBox .map{
   height: 20rem;
   width: 100%;
   margin:1rem 0;
}

.order form .box-container .box .inputBox span{
   color:var(--light-black);
   font-size: 2rem;
}



.client{
   background: var(--peru);
}

.client .heading span{
   color:var(--white);
}

.client .heading h3{
   color:var(--white);
}

.client form{
   padding:2rem;
   background: var(--white);
   box-shadow: var(--box-shadow);
   margin-left: 20rem;
}

.client form .box-container{
   display: flex;
   flex-wrap: wrap;
   gap:2rem;

}

.client form .box-container .box{
   flex:1 1 70rem;
}

.client form .box-container .box .inputBox h3{
   font-size: 3.2rem;
   color:var(--bs-black);
   padding-bottom: .5rem;
}

.client form .box-container .box .inputBox button{
   display: inline-block;
   background: var(--peru);
   color: var(--white);
   font-size: 1.5rem;
   cursor: pointer;
   padding: 1rem 2.5rem;
   border-radius: 6px;
}

.client form .box-container .box .inputBox p, li{
   font-size: 1.8rem;
   color:var(--light-black);
   line-height: 2;
}

.client form .box-container .box .inputBox .price{
   font-size: 2.5rem;
   color:var(--peru);
}


.client form .box-container .totalorder{
   flex:0 0 30rem;
   background: var(--white);
   padding:2rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   display: flex;
   align-items: center;
   gap:1rem;
   justify-content: space-between;
}


.client form .box-container .box .inputBox input,
.client form .box-container .box .inputBox textarea{
   width: 100%;
   margin:1rem 0;
   padding:1.2rem 1.4rem;
   font-size: 1.7rem;
   color:var(--light-black);
   border:var(--border);
   text-transform: none;
}

.client form .box-container .box .inputBox input::placeholder,
.client form .box-container .box .inputBox p,
.client form .box-container .box .inputBox textarea::placeholder{
   text-transform: capitalize;
}

.client form .box-container .box .inputBox input:focus,
.client form .box-container .box .inputBox textarea:focus{
   background: var(--black);
   color:var(--white);
}

.client form .box-container .box .inputBox input:focus::placeholder,
.client form .box-container .box .inputBox textarea:focus::placeholder{
   color:var(--light-white);
}

.client form .box-container .box .inputBox textarea{
   height: 20rem;
   resize: none;
}

.client form .box-container .box .inputBox .map{
   height: 20rem;
   width: 100%;
   margin:1rem 0;
}

.client form .box-container .box .inputBox span{
   color:var(--light-black);
   font-size: 2rem;
}















.blogs{
   background: var(--light-bg);
}

.blogs .slide .image{
   height: 25rem;
   overflow: hidden;
   position: relative;
}

.blogs .slide .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.blogs .slide .image span{
   position: absolute;
   bottom: -10rem; left:50%;
   transform: translateX(-50%);
   padding:.5rem 1.5rem;
   font-size: 2rem;
   color:var(--white);
   background: var(--black);
   z-index: 10;
}

.blogs .slide:hover .image span{
   bottom: 1rem;
}

.blogs .slide:hover .image img{
   transform: scale(1.1);
}

.blogs .slide .content{
   padding:2rem;
   background: var(--white);
   box-shadow: var(--box-shadow);
   border:var(--border);
   margin-bottom: 4rem;
}

.blogs .slide .content .icon{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 2rem;
}

.blogs .slide .content .icon a{
   font-size: 1.5rem;
   color:var(--light-black);
}

.blogs .slide .content .icon a i{
   padding-right: .7rem;
   color:var(--peru);
}

.blogs .slide .content .icon a:hover{
   color:var(--peru);
}

.blogs .slide .content .title{
   font-size: 2.5rem;
   color:var(--black);
}

.blogs .slide .content .title:hover{
   text-decoration: underline;
}

.blogs .slide .content p{
   padding:1rem 0;
   line-height: 2;
   font-size: 1.6rem;
   color:var(--light-black);
}

.footer{
   text-align: center;
   /* padding-bottom: 10rem; */
}

.footer .icons-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap:2rem;
}

.footer .icons-container .icons{
   text-align: center;
   padding:3rem 2rem;
}

.footer .icons-container .icons i{
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   background: var(--peru);
   color:var(--white);
   margin-bottom: .5rem;
   line-height: 5.8rem;
   font-size: 2rem;
}

.footer .icons-container .icons h3{
   font-size: 2rem;
   color:var(--black);
   padding:1rem 0;
}

.footer .icons-container .icons p{
   line-height: 1.5;
   font-size: 1.7rem;
   color:var(--light-black);
   text-transform: none;
}

.footer .share{
   margin:2rem 0;
}

.footer .share a{
   height: 6rem;
   width: 6rem;
   line-height: 5.8rem;
   color:var(--white);
   background: var(--black);
   margin:0 .3rem;
   font-size: 2.5rem;
}  

.footer .share a:hover{
   background: var(--peru);
}

.footer .credit{
   padding-top: 2.5rem;
   margin-top: 3rem;
   border-top: var(--border);
   font-size: 2rem;
   color:var(--light-black);
}

.footer .credit span{
   color:var(--peru);
}




/* media queries  */

@media (max-width:1200px){

   section{
      padding:3rem 5%;
   }

}

@media (max-width:991px){

   section{
      padding:3rem 2rem;
   }

   html{
      font-size: 55%;
   }

   .home .slide .content h3{
      font-size: 15vw;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .fa-times{
      transform: rotate(180deg);
   }

   .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .navbar a{
      display: block;
      margin:2rem;
   }

   .swiper-button-next,
   .swiper-button-prev{
      top:initial;
      bottom:1rem;
   }

   .menu .slide .box-container .box{
      flex-flow: column;
      text-align: center;
   }
}



@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .home .slide .content h3{
      font-size: 7rem;
   }
}

table {
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
   font-size: 17px;
   border-collapse: collapse;
   text-align: center;
}
body .clearfix:after {
   content: " ";
   display: block;
   clear: both;
}
.admin-product .h1{
   font-size: 7rem;
   color:var(--bs-black);
   text-align: center;
}
.admin-product .tables{
   display: inline-block;
   float: left;
}
.admin-product .tables th {
   background: #AFCDE7;
   color: white;
   padding: 10px 20px;
}
.admin-product .tables th, td {
   border-style: solid;
   border-width: 0 2px 2px 0;
   border-color: white;
}
.admin-product .tables td {
   background: #D8E6F3;
   line-height: 25px;
}

.admin-product .tables tr td .photo-product img{
   height: 19rem;
   width: 19rem;
   margin: 1rem 1rem 1rem 1rem;
}


.admin-product .tables tr td button {
   margin: 10px auto;
   border: none;
   outline: none;
   text-decoration: none;
   cursor: pointer;
   font-size: 15px;
   padding: 12px 16px;
   border-radius: 100px;
   background: #8eabd3;
}
.admin-product .tables tr td button:hover{
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
   background: #7090bb;
}

.admin-product .tables tr td select {
   margin: 10px auto;
   border: none;
   outline: none;
   text-decoration: none;
   cursor: pointer;
   font-size: 13px;
   padding: 12px 16px;
   border-radius: 100px;
   background: #8eacce;
}

.admin-product .button-work form button{
   display: inline-block;
   background: #638bc2;
   color: var(--white);
   font-size: 1.5rem;
   cursor: pointer;
   padding: 1rem 3rem;
   border-radius: 6px;
}

.admin-product form button{
   display: inline-block;
   background: #638bc2;
   color: var(--white);
   font-size: 1.5rem;
   cursor: pointer;
   padding: 1rem 3rem;
   border-radius: 6px;
}

.admin-product form button{
   display: inline-block;
   background: #638bc2;
   color: var(--white);
   font-size: 1.5rem;
   cursor: pointer;
   padding: 1rem 3rem;
   border-radius: 6px;
}

.courier form label input {

   width: 100%;
   margin:1rem 0;
   padding:1.2rem 1.4rem;
   font-size: 1.7rem;
   color:var(--light-black);
   border:var(--border);
   text-transform: none;
}

.courier form button{
   display: inline-block;
   background: #638bc2;
   color: var(--white);
   font-size: 1.5rem;
   cursor: pointer;
   padding: 1rem 3rem;
   border-radius: 6px;
}


.courier form button:hover{
   letter-spacing: .2rem;
}

.change-product p{
   font-size: 2rem;
}

.change-product h1{
   color:var(--bs-black);
   text-align: center;
}

.change-product form label input {

   width: 100%;
   margin:1rem 0;
   padding:1.2rem 1.4rem;
   font-size: 1.7rem;
   color:var(--light-black);
   border:var(--border);
   text-transform: none;
}

.change-product form  input {

   width: 100%;
   margin:1rem 0;
   padding:1.2rem 1.4rem;
   font-size: 1.7rem;
   color:var(--light-black);
   border:var(--border);
   text-transform: none;
}

.change-product form button{
   display: inline-block;
   background: #638bc2;
   color: var(--white);
   font-size: 2rem;
   cursor: pointer;
   padding: 1.5rem 3.5rem;
   border-radius: 6px;
}

.change-product form button:hover{
   letter-spacing: .3rem;
}



